.errMessSpan {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 8px;
  border-radius: 3px;

  background-color: red;
  color: white;
  font-size: larger;
  margin-bottom: 24px;
}
